.container {
  width: 282px;
  height: 500px;
  margin: 2rem 0rem 2rem 0rem;
  background-color: var(--verdeObscuro);
  border-radius: 10px;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.75);
}

.capa {
  width: 80%;
  height: 60%;
  padding-top: 2rem;
  object-fit: cover;
}

.link {
  color: var(--negro);
}

.link h2 {
  width: calc(100% - 1rem);
  height: 8%;
  padding: 0.5rem;
}

.link h2:hover {
  color: var(--negro);
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
}

.favorite {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.favorite:hover {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

.containerBtn {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.containerBtn button {
  width: 30%;
  font-size: var(--small);
  font-weight: 400;
  border: none;
  border-radius: 10px;
  background-color: var(--beige);
  cursor: pointer;
}

.containerBtn button:hover {
  transform: scale(1.07);
  transition: 0.3s ease-in-out;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.25);
}
