.container {
  padding: 0 0 1em 0;
  margin-top: 1.5em;
  width: 282px;
  background-size: cover;
  background-color: var(--negro);
  border-radius: 10px;
}

.capa {
  width: 90%;
  border-radius: 10px;
  padding-top: 1rem;
}

.link {
  color: var(--beige);
}

.favorite {
  width: 30px;
  height: 30px;

  padding: 0 0 0 0.5rem;
}
