.pie {
  text-align: center;
  padding: 20px;
  background-color: #f8f8f8;
}

.redes {
  margin-top: 20px;
}

.listaRedes {
  list-style: none;
  padding: 0;
}

.listaRedes li {
  display: inline-block;
  margin-right: 15px;
}

.listaRedes a {
  text-decoration: none;
  color: #0073b1; /* Color de los enlaces */
  font-weight: bold;
}

.listaRedes a:hover {
  text-decoration: underline;
}
