.pie {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: var(--beige);
  color: var(--negro);
  text-align: center;
  padding: 2rem;
}

.pie h2 {
  font-size: var(--small);
  padding-right: 2rem;
  border-right: solid 3px var(--negro);
}

.redes {
  margin-top: 0.5rem;
}

.redes p {
  color: var(--verdeObscuro);
  font-size: var(--small);
}

.listaRedes {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.listaRedes li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.listaRedes a {
  text-decoration: none;
  color: var(--verdeObscuro);
  font-size: var(--small);
  transition: color 0.3s ease;
  cursor: pointer;
}

.listaRedes a:hover {
  color: var(--verde);
  text-decoration: underline;
}

@media (max-width: 768px) {
  .listaRedes li {
    display: flex;
    flex-direction: column;
  }
}
