.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.inforCard {
  width: 100%;
  background-color: var(--beige);
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.infoCategoria {
  background-color: var(--negro);
  color: var(--beige);
}

.infoCategoriaTitulo {
  text-align: start;
  padding-left: 2rem;
  font-size: var(--large);
  letter-spacing: 0.2rem;
}
