.cabecera {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1rem;
  background-color: var(--negro);
}

a {
  text-decoration: none;
}

.logoContainer {
  height: 40px;
  display: flex;
  align-items: center;
}

.cabecera img {
  align-items: start;
  width: 100%;
  height: 70px;
}

.cabecera span {
  align-items: end;
  text-transform: uppercase;
  font-weight: 600;
  color: white;
  margin-left: 8px;
  font-size: 1.5rem;
}
