.cabecera {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1rem;
  background-color: var(--negro);
}

a {
  text-decoration: none;
}

.logoContainer {
  height: 40px;
  display: flex;
  align-items: center;
}

.cabecera img {
  align-items: start;
  width: 100%;
  height: 70px;
}

.cabecera span {
  align-items: end;
  text-transform: uppercase;
  font-weight: 600;
  color: white;
  margin-left: 8px;
  font-size: 1.5rem;
}

.hamburger {
  display: none;
  background: none;
  border: none;
  padding-right: 0rem;
  font-size: 2rem;
  color: var(--blanco);
  cursor: pointer;
}

/*Mobile view*/

@media (max-width: 768px) {
  .hamburger {
    display: flex;
    z-index: 2;
  }

  nav {
    display: none;
  }

  .active {
    display: flex;
    flex-direction: column;
    align-items: start;
    position: absolute;
    top: 1rem;
    right: 0rem;
    padding-top: 4rem;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
  }
}
