.formContainer {
  background-color: var(--beige);
  padding: var(--large);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(13, 13, 13, 0.35);
}

h1 {
  color: var(--negro);
  font-size: var(--large);
  margin-bottom: 1rem;
}

p {
  color: var(--negro);
  font-size: var(--small);
  margin-bottom: 1rem;
}

.containerSubtitulo {
  padding-bottom: 0.5rem;
  text-align: start;
  border-bottom: var(--negro) solid 2px;
}

.modalForm {
  display: flex;
  text-align: start;
  flex-direction: column;
  gap: 1rem;
}

label {
  color: var(--negro);
  font-weight: 500;
  font-size: var(--small);
}

input[type="text"],
select {
  padding: 10px;
  border: 1px solid var(--gris);
  border-radius: 8px;
  font-size: var(--small);
  background-color: var(--blanco);
}

input[type="text"]:focus,
select:focus {
  border-color: var(--verdeObscuro);
  outline: none;
}

.modalBotones {
  display: flex;
  gap: 0.5rem;
}

button {
  padding: 12px 24px;
  font-size: var(--small);
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.guardar {
  background-color: var(--verdeObscuro);
  color: var(--blanco);
}

.guardar:hover {
  background-color: var(--verde);
}

.limpiar {
  background-color: var(--gris);
  color: var(--negro);
}

.limpiar:hover {
  background-color: var(--blanco);
}
